.main-sidebar .sidebar-menu li a {
	/*color: #320221;*/
	color: #8b295f;
}

.main-sidebar .sidebar-menu li.active a {
	font-weight: bold !important;
}

body {
	/*color: #6c757d;*/
	color: #320221;
}

.sidebar-brand img {
	width: 92px;
	height: 40px;
}

.sidebar-brand-sm img {
	width: unset;
	height: 40px;
}